.skills .diagram .ball {
  position: absolute;
  color: white;
  font-weight: bold;
}

.b1,
.b2,
.b3,
.b4,
.b5,
.b6,
.b7,
.b8,
.b9,
.b10 {
  background-image: url(./Bubble.png);
  background-repeat: no-repeat;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.b1 {
  z-index: 1;
  height: 100px;
  width: 100px;
  background-image: url(bubble_html.png);
  background-size: 100px 100px;
  -webkit-animation-name: run_b1;
  animation-name: run_b1;
  -webkit-animation-duration: 55s;
  animation-duration: 55s;
}

@-webkit-keyframes run_b1 {
  0% {
    left: calc(0%);
    top: calc(0%);
  }
  33% {
    left: calc(80% - 100px);
    top: calc(70% - 100px);
  }
  66% {
    left: calc(40% - 100px);
    top: calc(40% - 100px);
  }
  100% {
    left: calc(0%);
    top: calc(0%);
  }
}

@keyframes run_b1 {
  0% {
    left: calc(0%);
    top: calc(0%);
  }
  33% {
    left: calc(80% - 100px);
    top: calc(70% - 100px);
  }
  66% {
    left: calc(40% - 100px);
    top: calc(40% - 100px);
  }
  100% {
    left: calc(0%);
    top: calc(0%);
  }
}

.b2 {
  z-index: 2;
  height: 80px;
  width: 80px;
  background-image: url(bubble_css.png);
  background-size: 80px 80px;
  -webkit-animation-name: run_b2;
  animation-name: run_b2;
  -webkit-animation-duration: 45s;
  animation-duration: 45s;
}

@-webkit-keyframes run_b2 {
  0% {
    left: calc(100% - 80px);
    top: calc(50%);
  }
  33% {
    left: calc(0% - 0px);
    top: calc(90% - 80px);
  }
  66% {
    left: calc(40% - 80px);
    top: calc(40% - 80px);
  }
  100% {
    left: calc(100% - 80px);
    top: calc(50%);
  }
}

@keyframes run_b2 {
  0% {
    left: calc(100% - 80px);
    top: calc(50%);
  }
  33% {
    left: calc(0% - 0px);
    top: calc(90% - 80px);
  }
  66% {
    left: calc(40% - 80px);
    top: calc(40% - 80px);
  }
  100% {
    left: calc(100% - 80px);
    top: calc(50%);
  }
}

.b3 {
  z-index: 3;
  height: 60px;
  width: 60px;
  background-image: url(bubble_js.png);
  background-size: 60px 60px;
  -webkit-animation-name: run_b3;
  animation-name: run_b3;
  -webkit-animation-duration: 65s;
  animation-duration: 65s;
}

@-webkit-keyframes run_b3 {
  0% {
    left: calc(50% - 0px);
    top: calc(100% - 60px);
  }
  33% {
    left: calc(0% - 0px);
    top: calc(50% - 0px);
  }
  66% {
    left: calc(100% - 60px);
    top: calc(70% - 0px);
  }
  100% {
    left: calc(50% - 0px);
    top: calc(100% - 60px);
  }
}

@keyframes run_b3 {
  0% {
    left: calc(50% - 0px);
    top: calc(100% - 60px);
  }
  33% {
    left: calc(0% - 0px);
    top: calc(50% - 0px);
  }
  66% {
    left: calc(100% - 60px);
    top: calc(70% - 0px);
  }
  100% {
    left: calc(50% - 0px);
    top: calc(100% - 60px);
  }
}

.b4 {
  z-index: 4;
  height: 50px;
  width: 50px;
  background-image: url(bubble_react.png);
  background-size: 50px 50px;
  -webkit-animation-name: run_b4;
  animation-name: run_b4;
  -webkit-animation-duration: 45s;
  animation-duration: 45s;
}

@-webkit-keyframes run_b4 {
  0% {
    left: calc(0% - 0px);
    top: calc(70% - 50px);
  }
  33% {
    left: calc(100% - 50px);
    top: calc(10% - 50px);
  }
  66% {
    left: calc(70% - 50px);
    top: calc(30% - 50px);
  }
  100% {
    left: calc(0% - 0px);
    top: calc(70% - 50px);
  }
}

@keyframes run_b4 {
  0% {
    left: calc(0% - 0px);
    top: calc(70% - 50px);
  }
  33% {
    left: calc(100% - 50px);
    top: calc(10% - 50px);
  }
  66% {
    left: calc(70% - 50px);
    top: calc(30% - 50px);
  }
  100% {
    left: calc(0% - 0px);
    top: calc(70% - 50px);
  }
}

.b5 {
  z-index: 5;
  height: 50px;
  width: 50px;
  background-image: url(bubble_python.png);
  background-size: 50px 50px;
  -webkit-animation-name: run_b5;
  animation-name: run_b5;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
}

@-webkit-keyframes run_b5 {
  0% {
    left: calc(100% - 50px);
    top: calc(0% - 0px);
  }
  33% {
    left: calc(50% - 0px);
    top: calc(50% - 50px);
  }
  66% {
    left: calc(70% - 50px);
    top: calc(30% - 50px);
  }
  100% {
    left: calc(100% - 50px);
    top: calc(0% - 0px);
  }
}

@keyframes run_b5 {
  0% {
    left: calc(100% - 50px);
    top: calc(0% - 0px);
  }
  33% {
    left: calc(50% - 0px);
    top: calc(50% - 50px);
  }
  66% {
    left: calc(70% - 50px);
    top: calc(30% - 50px);
  }
  100% {
    left: calc(100% - 50px);
    top: calc(0% - 0px);
  }
}

.b6 {
  z-index: 6;
  height: 50px;
  width: 50px;
  background-image: url(bubble_django.png);
  background-size: 50px 50px;
  -webkit-animation-name: run_b6;
  animation-name: run_b6;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
}

@-webkit-keyframes run_b6 {
  0% {
    left: calc(50% - 0px);
    top: calc(50% - 0px);
  }
  33% {
    left: calc(0% - 0px);
    top: calc(10% - 0px);
  }
  66% {
    left: calc(30% - 0px);
    top: calc(0% - 0px);
  }
  100% {
    left: calc(50% - 0px);
    top: calc(50% - 0px);
  }
}

@keyframes run_b6 {
  0% {
    left: calc(50% - 0px);
    top: calc(50% - 0px);
  }
  33% {
    left: calc(0% - 0px);
    top: calc(10% - 0px);
  }
  66% {
    left: calc(30% - 0px);
    top: calc(0% - 0px);
  }
  100% {
    left: calc(50% - 0px);
    top: calc(50% - 0px);
  }
}

.b7 {
  z-index: 7;
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  -webkit-animation-name: run_b7;
  animation-name: run_b7;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
}

@-webkit-keyframes run_b7 {
  0% {
    left: calc(70% - 50px);
    top: calc(70% - 50px);
  }
  33% {
    left: calc(0% - 0px);
    top: calc(50% - 0px);
  }
  66% {
    left: calc(100% - 50px);
    top: calc(60% - 0px);
  }
  100% {
    left: calc(70% - 50px);
    top: calc(70% - 50px);
  }
}

@keyframes run_b7 {
  0% {
    left: calc(70% - 50px);
    top: calc(70% - 50px);
  }
  33% {
    left: calc(0% - 0px);
    top: calc(50% - 0px);
  }
  66% {
    left: calc(100% - 50px);
    top: calc(60% - 0px);
  }
  100% {
    left: calc(70% - 50px);
    top: calc(70% - 50px);
  }
}

.b8 {
  z-index: 8;
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  -webkit-animation-name: run_b8;
  animation-name: run_b8;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
}

@-webkit-keyframes run_b8 {
  0% {
    left: calc(70% - 50px);
    top: calc(90% - 50px);
  }
  33% {
    left: calc(0% - 0px);
    top: calc(70% - 0px);
  }
  66% {
    left: calc(100% - 50px);
    top: calc(80% - 0px);
  }
  100% {
    left: calc(70% - 50px);
    top: calc(90% - 50px);
  }
}

@keyframes run_b8 {
  0% {
    left: calc(70% - 50px);
    top: calc(90% - 50px);
  }
  33% {
    left: calc(0% - 0px);
    top: calc(70% - 0px);
  }
  66% {
    left: calc(100% - 50px);
    top: calc(80% - 0px);
  }
  100% {
    left: calc(70% - 50px);
    top: calc(90% - 50px);
  }
}

.b9 {
  z-index: 9;
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  -webkit-animation-name: run_b9;
  animation-name: run_b9;
  -webkit-animation-duration: 65s;
  animation-duration: 65s;
}

@-webkit-keyframes run_b9 {
  0% {
    left: calc(30% - 0px);
    top: calc(100% - 50px);
  }
  16% {
    left: calc(0% - 0px);
    top: calc(70% - 50px);
  }
  33% {
    left: calc(40% - 0px);
    top: calc(0% - 0px);
  }
  50% {
    left: calc(100% - 50px);
    top: calc(30% - 0px);
  }
  66% {
    left: calc(0% - 0px);
    top: calc(40% - 0px);
  }
  74% {
    left: calc(100% - 50px);
    top: calc(80% - 50px);
  }
  100% {
    left: calc(30% - 0px);
    top: calc(100% - 50px);
  }
}

@keyframes run_b9 {
  0% {
    left: calc(30% - 0px);
    top: calc(100% - 50px);
  }
  16% {
    left: calc(0% - 0px);
    top: calc(70% - 50px);
  }
  33% {
    left: calc(40% - 0px);
    top: calc(0% - 0px);
  }
  50% {
    left: calc(100% - 50px);
    top: calc(30% - 0px);
  }
  66% {
    left: calc(0% - 0px);
    top: calc(40% - 0px);
  }
  74% {
    left: calc(100% - 50px);
    top: calc(80% - 50px);
  }
  100% {
    left: calc(30% - 0px);
    top: calc(100% - 50px);
  }
}

.b10 {
  z-index: 10;
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  -webkit-animation-name: run_b10;
  animation-name: run_b10;
  -webkit-animation-duration: 75s;
  animation-duration: 75s;
}

@-webkit-keyframes run_b10 {
  0% {
    left: calc(100% - 50px);
    top: calc(70% - 50px);
  }
  14% {
    left: calc(0% - 0px);
    top: calc(50% - 0px);
  }
  28% {
    left: calc(100% - 50px);
    top: calc(30% - 0px);
  }
  42% {
    left: calc(10% - 0px);
    top: calc(0% - 0px);
  }
  56% {
    left: calc(0% - 0px);
    top: calc(10% - 0px);
  }
  71% {
    left: calc(30% - 0px);
    top: calc(100% - 50px);
  }
  85% {
    left: calc(50% - 0px);
    top: calc(50% - 0px);
  }
  100% {
    left: calc(100% - 50px);
    top: calc(70% - 50px);
  }
}

@keyframes run_b10 {
  0% {
    left: calc(100% - 50px);
    top: calc(70% - 50px);
  }
  14% {
    left: calc(0% - 0px);
    top: calc(50% - 0px);
  }
  28% {
    left: calc(100% - 50px);
    top: calc(30% - 0px);
  }
  42% {
    left: calc(10% - 0px);
    top: calc(0% - 0px);
  }
  56% {
    left: calc(0% - 0px);
    top: calc(10% - 0px);
  }
  71% {
    left: calc(30% - 0px);
    top: calc(100% - 50px);
  }
  85% {
    left: calc(50% - 0px);
    top: calc(50% - 0px);
  }
  100% {
    left: calc(100% - 50px);
    top: calc(70% - 50px);
  }
}

.skills .circle {
  height: 30px;
  width: 30px;
  border: 3px solid #737373;
  border-radius: 20px;
  margin-left: 15px;
}

.skills .fill {
  background-color: #860303;
}
/*# sourceMappingURL=Skills.css.map */
